---
import { Icon } from "astro-icon/components";
import type { Link } from "../types/types";

interface Props {
  links: Link[];
}

const { links } = Astro.props;
---

<div class="flex flex-row flex-wrap justify-center gap-2">
  {
    links.map((link) => (
      <a
        href={link.url}
        class="flex flex-row bg-gradient-to-r from-lime-200 via-zinc-200 to-rose-200 text-zinc-500 rounded-full gap-2 items-center text-base font-normal px-4 py-1.5 hover:text-zinc-900 hover:underline transition"
      >
        {link.icon && <Icon name={link.icon} class="w-5 h-5" />}
        <span>{link.name}</span>
      </a>
    ))
  }
</div>
